---
// Define component props and scripts here
// Importing React and PropTypes is not necessary in Astro as we're not using these specific functionalities in the same way
// import PropTypes from 'prop-types';
// import React from 'react';
const defaults = {
  src: '',
  alt: '',
  overlay: '',
  className: '',
};
const Image = (props) => {
  const {
    src = defaults.src,
    alt = defaults.alt,
    hover, // hover is declared but not used in the component logic provided
    className = defaults.className,
    overlay = defaults.overlay,
    contain,
    circle,
    extraSmall,
    small,
    medium,
    large,
    fullWidth,
    actualSize,
    squareBig,
  } = props;

  let classes = [];

  contain && classes.push('image--contain');
  fullWidth && classes.push('image--full-width');
  circle && classes.push('image--circle');
  extraSmall && classes.push('image--extra-small');
  small && classes.push('image--small');
  medium && classes.push('image--medium');
  large && classes.push('image--large');
  squareBig && classes.push('image--square-big');
  actualSize && classes.push('image--actual-size');

  return classes;
};
---
<style is:global>
@import "../../styles/Image.scss";
</style>

<div class={`image ${className} ${Image(props).join(' ')}`} {...props}>
  <div class="image__container">
    <img
      style={`background-color: ${overlay}; background-opacity: 0.5;`}
      class="image__content"
      src={src}
      alt={alt}
    />
  </div>
</div>
