@use 'variables'; // Import your variables file
@use 'mixins'; // Import your mixins file

// Default light mode styles
body {
  background: var(--light-background); 
  color: var(--light-text); 
}

// Other general styles 
// ... add any other global styles as needed

// Dark mode styles (using conditional classes)
.dark-mode-background {
  background: var(--dark-background); 
}

.dark-mode-text { 
  color: var(--dark-text);
}

// Media query for dark mode preference
@media (prefers-color-scheme: dark) {
  .dark-mode .dm-background { 
    background: var(--dark-background); 
}

.dark-mode .dm-text { 
    color: var(--dark-text); 
}
}
